<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Instagram</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav">
                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                <li routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="/">Home</a></li>
                <li routerLinkActive="active" *ngIf="isLoggedIn" class="nav-item"><a class="nav-link" routerLink="/allposts">All Posts</a>
                </li>
                <li routerLinkActive="active" *ngIf="isLoggedIn" class="nav-item"><a class="nav-link" routerLink="/following">Following</a>
                </li>
                <li routerLinkActive="active" *ngIf="isLoggedIn" class="nav-item"><a class="nav-link" routerLink="/favorites">Favorites</a>
                </li>
                <li routerLinkActive="active" *ngIf="isLoggedIn" class="nav-item"><a class="nav-link" routerLink="/myposts">My Posts</a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown" *ngIf="isLoggedIn">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript: void(0)">{{name}}<span
                        class="user-name-display"></span>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu text-dark">
                    <li class="dropdown-item text-dark"><a href="javascript:void(0)"><span
                                class="user-title">Email: </span><span class="user-data">{{email}}</span></a></li>
                    <li class="dropdown-item text-dark"><a  href="javascript:void(0)"><span
                                class="user-title">Uid: </span><span class="user-data">{{uid}}</span></a></li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn"><a class="nav-link" routerLink="/signup">Sign up</a></li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn"><a class="nav-link" routerLink="/login">Login</a></li>
            <li class="nav-item" *ngIf="isLoggedIn" (click)="onLogout()"><a class="nav-link" href="#">Logout</a></li>
        </ul>
    </div>
</nav>