<div class="container">
    <div class="row my-5">
        <div class="col-lg-4 mx-auto my-auto">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">

                <div class="form-group">
                    <label for="fullname">Full name</label>
                    <input type="text" name="fullname" id="fullname" ngModel class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" ngModel class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" ngModel class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>

</div>