<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="image-container">

                <app-post *ngFor="let post of postList" [imageName]="post.data.name" [displayFollowButton]="false"
                    [displayFavoritesButton]="false"></app-post>
            </div>
        </div>
    </div>
</div>