<div class="container">
    <!-- Carga y procesa las imagenes -->
    <div class="row mt-4">
        <div class="col-lg-8">
            <div class="panel panel-default">
            <div class="panel-body">
                <input type="file" (change)="onFileSelection($event)" placeholder="Upload a file" accept=".png, .jpeg, .jpg">
            </div>
            </div>
        </div>
    </div>
    <!-- Componente independiente que recibe la informacion que será
    mostrada en la paginas de mis post -->
    <div class="row">
        <div class="col-lg-12 my-3">
        <div class="image-container">
            <app-post *ngFor="let post of postLists"
                    [imageName]="post.data.name"
                    [displayPostedBy]="false"
            >
            </app-post>
        </div>
        </div>
    </div>
</div>

