<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="image-container">

                <app-post *ngFor="let imageData of favoritesList" [imageName]="imageData.name"
                    [displayFavoritesButton]="false">
                </app-post>

            </div>
        </div>
    </div>
</div>